/* Styling for the contact info page */
/* Style the navigation section */
nav { /* Style the nav section for thr page */
    margin-bottom   : 20px; /* puts space after the element on the page*/
    margin-top      : 10px; /* puts space before the element on the page*/
    font-size       : 8pt; /* set the font size of the link*/

}